body {
    background-color: #C6D8D3;
}

.jumbotron {
    margin: 10px;
    background-color: #DCAB6B;
    border-radius: 200px;
}

#ibtn {
    float: right;
    margin: 10px;
    padding: 5px 10px;
}

#forgetPwd {
    float: left;
}

#regButton {
    color: black;
}

fieldset {
    border: 2px solid;
    padding: 20px;
    margin-bottom: 20px;
}

.gender {
    margin: 10px;
    padding: 5px;
}

#btnres {
    float: left;
    width: 180px;
    margin: 20px 60px;
    padding: 5px 20px;
}

#btnreg {
    float: right;
    width: 180px;
    margin: 20px 60px;
    padding: 5px 20px;
}

#btnrer {
    float: left;
    width: 180px;
    margin: 20px 140px;
    padding: 5px 20px;
}

#btnrec {
    float: right;
    width: 180px;
    margin: 20px 60px;
    padding: 5px 20px;
}

#status {
    color: red;
}

a {
    color: inherit;
}

#dispLogo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    margin-left: 150px;
    color: blue;
}